body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

:root {

    /* colors */

    --purple-1: #5c48ee;
    --purple-2: #0f1e6a;
    --light-mode: #f9fafe;
    --tr-light-mode: #f9fafe8d;
    --grey-1: #c4cddf;
    --grey-2: #333333;
    --grey-3: #8d9295;
    --grey-4: #a4a4a4;
    --grey-5: #444444;
    --grey-6: #555555;
    --grey-black-1: #121212;
    --dark-mode: #091330;
    --tr-dark-mode: #0913308e;

    /* <---> */

    /* width */

    --max-width: 1200px;

}